<%= turbo_frame_tag turbo_frame_request_id do %>
  <%= content_tag :div, data: {
    controller: 'interval-reloader',
    interval_reloader_url_value: player_search_path(@job.job_id),
    interval_reloader_frame_value: turbo_frame_request_id,
  } do %>
    <div class="text-center">
      <%= spinner %>
    </div>
  <% end %>
<% end %>
