<% content_for :battle_footer, flush: true do %>
  <div class="text-center">
    <%= challenger_result battle.challengers.find_by_short_id(@player.short_id) %>
  </div>
<% end %>

<%= render "battles/battle", battle: %>
