<% content_for :battle_footer, flush: true do %>
  <div class="text-center">
    <%= battle_result matchup.home_challenger.result %>
  </div>
<% end %>

<%= render "battles/battle", battle: matchup.battle %>
