<%= turbo_frame_tag "rival-list" do %>
    <% %i[favorites victims tormentors].each do |kind| %>
      <div class="card mb-3">
        <div class="card-header text-center">
          <%= t ".#{kind}" %>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <%= render "rival_table", rival: @matchups.public_send(kind) %>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
