<div class="mb-3">
  <%= render "filter_form", object: @filter_form %>
</div>

<% if @history.any? %>
  <div class="card card-body" data-turbo-temporary>
    <%= history_chart(@history) %>
  </div>
<% else %>
  <%= no_data_alert %>
<% end %>

<%= turbo_frame_tag "turbo-modal" %>
