<div class="mb-3">
  <%= render "filter_form", object: @filter_form %>
</div>

<% if @ranked_history.present? %>
  <div class="card card-body" data-turbo-temporary>
    <%= ranked_history_chart(@ranked_history) %>
  </div>
<% else %>
  <%= no_data_alert %>
<% end %>

<%= turbo_frame_tag "turbo-modal" %>
