<div class="position-absolute top-50 start-50 translate-middle d-none d-md-block d-sm-none w-50">
  <%= render 'shared/player_search_form' %>
</div>

<div class="position-absolute top-50 start-50 translate-middle d-sm-block d-md-none w-100 px-4">
  <%= render 'shared/player_search_form' %>
</div>
