version: "3"

sfbuff: &default-sfbuff
  # build: .
  image: docker.io/alanoliveira89/sfbuff:latest
  environment:
    - SECRET_KEY_BASE
    - DATABASE_URL=postgres://${SFBUFF_DATABASE_USERNAME}:${SFBUFF_DATABASE_PASSWORD}@db/sfbuff
    - BUCKLER_CID_DOMAIN
    - BUCKLER_BASE_URL
    - BUCKLER_EMAIL
    - BUCKLER_PASSWORD
    - BUCKLER_USER_AGENT
    - MEMCACHED_HOST=memcached
    - SENTRY_DSN
    - REPO_URL
    - RAILS_FORCE_SSL=false
  depends_on:
    db:
      condition: service_healthy
    memcached:
      condition: service_started

services:
  web:
    <<: *default-sfbuff
    ports:
      - "3000:3000"
    healthcheck:
        test: ["CMD", "curl", "-f", "http://web:3000/up"]
        interval: 60s
        timeout: 10s
        start_period: 10s
        retries: 5
  worker:
    <<: *default-sfbuff
    entrypoint: []
    command: ./bin/worker
    depends_on:
      web:
        condition: service_healthy
  db:
    image: postgres:16.2-alpine
    environment:
      POSTGRES_DB: sfbuff
      POSTGRES_PASSWORD: ${SFBUFF_DATABASE_PASSWORD}
      POSTGRES_USER: ${SFBUFF_DATABASE_USERNAME}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "sfbuff", "-U", $SFBUFF_DATABASE_USERNAME]
      interval: 60s
      timeout: 10s
      retries: 5
  memcached:
    image: memcached:1.6.27-alpine
    ports:
      - "11211:11211"
