<nav class="py-3">
  <ul class="nav nav-fill nav-underline">
    <li class="nav-item"><%= fighters_header_nav_link Matchup.model_name.human(count: 2), :fighter_matchups_path, class: "nav-link" %></li>
    <li class="nav-item"><%= fighters_header_nav_link Matchup::MatchupChart.model_name.human, :fighter_matchup_chart_path, class: "nav-link" %></li>
    <li class="nav-item"><%= fighters_header_nav_link RankedHistory.model_name.human, :fighter_ranked_history_path, class: "nav-link" %></li>
  </ul>
</nav>
