<div class="mb-3">
  <%= render "search_form" %>
</div>

<% if @fighter_search %>
  <%= turbo_frame_tag "fighter-search" do %>
    <%= auto_submit_form_with model: @fighter_search, url: fighter_search_path do |f| %>
      <%= f.hidden_field :query %>
    <% end %>
  <% end %>
<% end %>
