<div class="mb-3">
  <%= render "search_form" %>
</div>

<% if @query %>
  <%= turbo_frame_tag "fighter-search" do %>
    <%= auto_submit_form_with model: FighterSearchProcess.new(query: @query) do |f| %>
      <%= f.hidden_field :query %>
    <% end %>
  <% end %>
<% end %>
