<div id="fighter-header">
  <h1><%= @fighter.name %></h1>

  <% @fighter.synchronized_at.try do |synchronized_at| %>
    <small><%= synchronized_at %></small>
  <% end %>
</div>

<% unless @fighter.synchronized? %>
  <%= turbo_stream_from @fighter.id, :synchronization %>
  <%= synchronization_request_form @fighter %>
<% end %>
