<% cache @matchup do %>
  <%= turbo_frame_tag "matchups-matchup-chart" do %>
    <div class="card card-body">
      <%= render "matchup_chart", matchup_chart: @matchup_chart %>
    </div>
  <% end %>
<% end %>
