<h1>Verify you are human</h1>

<%= form_with url: human_verification_validation_path, data: { controller: "turnstile-form", turnstile_form_sitekey_value: ENV["SFBUFF_CF_TURNSTILE_SITE_KEY"] } do |f| %>
  <div data-turnstile-form-target="widget"></div>
<% end %>
