<div class="toast-header">
  <strong class="me-auto"><%= title %></strong>
  <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
</div>

<div class="toast-body">
  <%= message %>
</div>
