<div class="d-flex flex-column align-items-center justify-content-center h-100">
  <img src="/icon.svg" width="300" height="300" alt="sfbuff logo">
  <h2><%= t ".welcome" %></h2>
  <div><%= t ".description" %></div>
  <div class="py-3 w-100" style="max-width: 670px">
    <%= render "fighter_searches/form" %>
  </div>
</div>
