<div class="mb-3">
  <%= render "matchup_chart_filter_form" %>
</div>

<div class="card card-body">
  <div class="table-responsive">
    <%= render "matchup_charts/matchup_chart", matchup_chart: @matchup_chart %>
  </div>
</div>
