<%= empty_alert_unless(fighter_search.result.any?) do %>
  <div class="card card-body table-responsive">
    <%= render "fighter_profiles/fighter_profiles_list", fighter_profiles_list: fighter_search.result %>
  </div>
<% end %>
