<%= form_with url: search_fighters_path, method: :get do |f| %>
  <div class="input-group">
    <%= f.search_field :q, autocomplete: "sfbuff-fighter", value: params["q"], placeholder: t(".placeholder"),
      minlength: 4, required: 1, class: "form-control" %>
    <%= button_tag type: "submit", name: "", class: "btn btn-primary", title: t("buttons.search") do %>
      <%= bs_icon "search" %>
    <% end %>
  </div>
<% end %>
