<div class="mb-3" data-turbo-frame="fighter_search" data-turbo-action="advance">
  <%= render "form" %>
</div>

<% if @query %>
  <div class="card card-body table-responsive">
    <%= turbo_frame_tag "fighter_search" do %>
      <%= search_request_form(@query) %>
    <% end %>
  </div>
<% end %>
