<div class="mb-3">
  <%= render "form" %>
</div>

<% if @query %>
  <div class="card card-body table-responsive">
    <%= turbo_frame_tag "fighter_searches" do %>
      <%= search_request_form(@query) %>
    <% end %>
  </div>
<% end %>
