<%= render "form" %>

<% cache @matchup_chart, version: @player.latest_replay_id do %>
  <div class="mb-3">
    <%= render "matchup_charts/matchup_chart",
      matchup_chart: @matchup_chart,
      url_for_chart: performance_by_date_chart_path(home_short_id: @player.short_id) %>
  </div>
<% end %>
