<div class="mb-3">
  <%= render 'filter_form', object: @filter_form %>
</div>

<div class="card card-body">
  <div class="table-responsive">
    <%= render 'matchup_chart_table', matchup_chart: @matchup_chart %>
  </div>
</div>
