service: sfbuff
image: alanoliveira89/sfbuff
retain_containers: 3

servers:
  web:
    hosts:
     - sfbuff.site

proxy:
  app_port: 3000
  ssl: true
  hosts:
    - sfbuff.site

registry:
  username: alanoliveira89
  password:
    - SFBUFF_KAMAL_REGISTRY_PASSWORD

env:
  clear:
    RAILS_ENV: production
    SFBUFF_DATABASE_HOST: sfbuff-db
    SFBUFF_DATABASE_USERNAME: sfbuff
    SOLID_QUEUE_IN_PUMA: 1
  secret:
    - SECRET_KEY_BASE:SFBUFF_SECRET_KEY_BASE
    - SFBUFF_BUCKLER_EMAIL
    - SFBUFF_BUCKLER_PASSWORD
    - SFBUFF_DATABASE_PASSWORD
    - SFBUFF_DEFAULT_USER_AGENT
    - SFBUFF_SENTRY_DSN

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole --include-password"

volumes:
  - "sfbuff_storage:/rails/storage"

asset_path: /rails/public/assets


# Configure the image builder.
builder:
  arch: amd64

ssh:
  user: admin

accessories:
  db:
    image: postgres:16.2-alpine
    host: sfbuff.site
    port: "5432:5432"
    env:
      clear:
        POSTGRES_USER: sfbuff
      secret:
        - POSTGRES_PASSWORD:SFBUFF_DATABASE_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
    options:
      memory: 384m
      memory-swap: 384m
    cmd: >
      postgres \
       -c shared_buffers=64MB \
       -c work_mem=2MB \
       -c maintenance_work_mem=16MB \
       -c effective_cache_size=128MB \
       -c checkpoint_timeout=10min \
       -c wal_buffers=512kB \
       -c track_counts=off
  # The current server can't afford ~100MiB used by vector container
  # vector:
  #   image: timberio/vector:0.51.1-alpine
  #   host: sfbuff.site
  #   options:
  #     entrypoint: "sh"
  #   cmd: -c 'apk add --no-cache docker-cli && vector'
  #   env:
  #     secret:
  #       - SFBUFF_BETTER_STACK_INGESTING_HOST
  #       - SFBUFF_BETTER_STACK_SOURCE_TOKEN
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - /:/hostfs:ro
  #   files:
  #     - config/deploy/vector/vector.yaml:/etc/vector/vector.yaml
