default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: synchronization
      threads: 1
      processes: 1
      polling_interval: 1
    - queues: default
      threads: 1
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.5

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
