<div class="dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= bs_icon "globe" %>
  </button>
  <ul class="dropdown-menu" >
    <% options.each do |name, code| %>
      <li>
        <%= content_tag :button, name, value: code, type: "button", 
          class: ["dropdown-item", ("active" if code == selected)], data: { action: "click->i18n#updateLocale" } %>
      </li>
    <% end %>
  </ul>
</div>
