<ul class="list-unstyled text-center">
  <% rounds.each do |r| %>
    <li>
      <%= content_tag :span, r, style: "width: 20px", class: "badge px-0 text-center round-#{r.to_s.downcase}" %>
    </li>
  <% end %>
</ul>
