<%= modal_container do %>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <%= render @battle %>
      </div>
      <div class="modal-footer">
        <%= modal_close_button %>
      </div>
    </div>
  </div>
<% end %>
