<div class="footer py-3 bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex gap-2">
      <%= render "locale_selector" %>
      <%= render "theme_selector" %>
    </div>
  </div>
</div>
