<form action="<%= search_path %>">
  <div class="input-group">
    <input type="search" autocomplete="buckler-fighter" name="q" value="<%= params[:q] %>" minlength="4" required class="form-control">
    <button type="submit" class="btn btn-primary"><%= bs_icon "search" %></button>
  </div>
</form>
