<div class="mb-3">
  <%= render "search_form" %>
</div>

<% if @query %>
  <div class="card card-body">
    <%= turbo_stream_from :fighter_search, @query %>
    <%= turbo_frame_tag "fighter_search" do %>
      <%= search_request_form(@query) %>
    <% end %>
  </div>
<% end %>
