<div id="<%= dom_id(profile_search_process) %>">
  <% if profile_search_process.finished? %>
    <%= empty_alert_unless(profile_search_process.result.any?) do %>
      <div class="card card-body table-responsive">
        <%= render "fighter_profiles/fighter_profiles_list", fighter_profiles_list: profile_search_process.result %>
      </div>
    <% end %>
  <% else %>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  <% end %>
</div>
