<% [ :favorites, :victims, :tormentors ].each do |kind| %>
  <div class="card card-body mb-3 table-responsive">
    <%= render "rival_list", data: rivals.send(kind), title: Matchup::Rivals.human_attribute_name(kind) %>
  </div>
<% end %>
