<div class="dropdown" data-controller="locale-switch">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="theme-icon-active">
      <%= icon "globe" %>
    </span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="bd-theme-text">
    <li>
      <button value="en" type="button" class="dropdown-item <%= "active" if I18n.locale == :en %>">English</button>
    </li>
    <li>
      <button value="pt-BR" type="button" class="dropdown-item <%= "active" if I18n.locale == :"pt-BR" %>">Português</button>
    </li>
    <li>
      <button value="ja" type="button" class="dropdown-item <%= "active" if I18n.locale == :ja %>">日本語</button>
    </li>
  </ul>
</div>
