<div class="modal" tabindex="-1" data-controller="turbo-modal">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <%= turbo_frame_tag "turbo-modal" %>
    </div>
  </div>
</div>
