<%= content_tag :div, class: "toast align-items-center border-0 text-bg-#{kind}", data: do %>
  <div class="d-flex">
    <div class="toast-body">
      <%= message %>
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
<% end %>
