<div class="footer py-3 bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex gap-2">
        <%= render "theme_selector" %>
        <%= render "locale_selector" %>
      </div>
      <div>
        <% ENV["REPOSITORY_URL"].try do |url| %>
          <%= link_to icon("github"), url, target: "_blank", class: "nav-link fs-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
