<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="/icon.svg" width="30" height="30">
    <% end %>
  </div>
</nav>
