<% content_for(:title) { page_title("#{@character.human_name} #{@control_type}") } %>

<% content_for :main do %>
  <div>
    <h1><%= "#{@character.human_name} #{@control_type}" %></h1>
  </div>

  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>
